<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="/images/apple-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="/images/apple-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="/images/apple-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="/images/apple-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="/images/apple-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="/images/apple-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="/images/apple-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="/images/apple-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/images/apple-icon-180x180.png" 
        />
    -->
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="views\images\android-icon-192x192.png"
        />

        <!-- <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="/images/favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon-16x16.png"
        /> -->

        <link
            rel="icon"
            type="image/ico"
            sizes="16x16"
            href="/favicon.ico?v=1.1"
        />

        <link rel="manifest" href="/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
        <meta name="theme-color" content="#ffffff" />

        <title>Url Shortner</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />

        <!-- <link rel="stylesheet" href="https://cocky-bhabha-ac0fde.netlify.app/index.css"> -->
    </head>
    <body>
        <div class="text-center container">
            <h1 class="title">Encurtador de URLs</h1>
            <label for="name-url">Nome da URL</label>
            <div class="input-group mx-0">
                <input
                    type="text"
                    id="name-url"
                    class="form-control mx-5 my-2"
                    placeholder="Ex: youtube"
                />
            </div>

            <label for="basic-url">Link do site</label>
            <div class="input-group">
                <input
                    type="url"
                    class="form-control mx-5 my-2"
                    id="basic-url"
                    aria-describedby="basic-addon3"
                    placeholder="Ex: https://youtube.com"
                />
            </div>
            <button id="button" type="submit" class="btn btn-dark">
                Cadastrar
            </button>
        </div>
    </body>
    <script>
        const PORT = "<%= PORT %>";
        console.log(PORT);

        document
            .getElementById("button")
            .addEventListener("click", async (e) => {
                const nameUrl = document.getElementById("name-url").value;
                const linkUrl = document.getElementById("basic-url").value;

                const response = await fetch(
                    `https://urlshorte.herokuapp.com/`,
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json; charset=utf-8",
                        },
                        body: JSON.stringify({
                            name: nameUrl,
                            url: linkUrl,
                        }),
                    }
                );
                const dataResponse = await response.json();

                if (dataResponse.status === "error")
                    return alert(dataResponse.data.message);
                console.log(dataResponse);
                alert(
                    `Para acessar a url, basta digitar: https://urlshorte.herokuapp.com/${
                        Object(dataResponse).name
                    }`
                );
            });
    </script>
</html>
